<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="SchoolDBConnection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SchoolDB;Integrated Security=True;TrustServerCertificate=True;Encrypt=False;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

</configuration>